
  <header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><h1 class="site-title">{{ site.title }}</h1></a>
    <nav class="site-nav">
     <a href="{{site.baseurl}}/pizzaiolos/">
         <button class="btn btn-github">Pizzaiolos</button>
     </a>
     <a href="{{site.baseurl}}/sobre/">
         <button class="btn btn-ogg">O Podcast</button>
     </a>
     <a href="{{site.baseurl}}/">
         <button class="btn btn-mp3">Episódios</button>
     </a>
     <a href="{{site.baseurl}}/assine/">
         <button class="btn btn-assine">Assine</button>
     </a>
    </nav>

  </div>

</header>
